@font-face {
    font-display: swap;
    font-family: 'Almarai-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Almarai-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Amiri-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Amiri-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Cairo-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Cairo-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'ElMessiri-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/ElMessiri-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Rakkas-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Rakkas-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Tajawal-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Tajawal-Bold.ttf');
}
@font-face {
    font-display: swap;
    font-family: 'Almarai-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Almarai-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Amiri-BoldItalic';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/Amiri-BoldItalic.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Amiri-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Amiri-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'ElMessiri-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/ElMessiri-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'NotoKufiArabic-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/NotoKufiArabic-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'ReemKufi-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/ReemKufi-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Tajawal-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Tajawal-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/lmmono-bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/lmmono-bolditalic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/lmmono-italic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/lmmono-normal.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/lmroman-bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/lmroman-bolditalic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/lmroman-italic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/lmroman-normal.woff');
}
