{{ define "head" }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/list.css" }}
{{ with resources.Get "sass/layouts/list.scss" | toCSS $options | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ end }}

{{ define "main" }}
<main id="main" class="archive">
  {{ $pages := where .Data.Pages "Type" "posts" }}
  {{ range $pages.GroupByDate "2006-01" }}
  <div class="post-group">
    <ul>
      {{ range .Pages }}
      <li>
        <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ $date := .Date }}
        {{ $day := $date.Format "2" }}
        {{ $month := index (slice "يناير" "فبراير" "مارس" "إبريل" "مايو" "يونيو" "يوليو" "أغسطس" "سبتمبر" "أكتوبر" "نوفمبر" "ديسمبر") (sub $date.Month 1) }}
        {{ $year := $date.Format "2006" }}
        <p>{{ $day }} {{ $month }} {{ $year }}</p>


      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <div class="post-group">
    <h3>...</h3>
  </div>
</main>
{{ end }}
